@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-custom{
    @layer md{
        grid-template-areas: 
        'avatar uno dos tres'
        'avatar cuatro cinco seis'
    ;

    }
    .avatar{
        grid-area: avatar;
    }
    .uno{
        grid-area: uno;
    }
   
   
}
body{
    display: flex !important;
}
